<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Ruda" rel="stylesheet">
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="theodore.jpg">
    </a>
    <h1>Theodore Kitching</h1>
    <p>Portfolio</p>
    <a type="button" class="btn btn-lg btn-default" href="https://www.instagram.com/theodorekitching/"><span class="glyphicon glyphicon-camera"></span> Instagram</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://www.youtube.com/@TheoKitching"><span class="glyphicon glyphicon-facetime-video"></span> Youtube</a>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col">
      <h3>Timeline</h3>
      <div class="time-period">
        <h4>2003 - 2006: </h4>
        <h5>
          Early sketches, video games<br><br>

          Around this time, a number of important video games were added to the fold, some of which I got, some of which I didn’t. <br><br>

          Silent Hill 3, WWE Smackdown VS Raw.
        </h5>
        <img src="blue-boy.png"><br><br>
        <img src="nane.png"><br><br>
        <img src="yellow.png"><br><br>
        <img src="3grads.png"><br><br>
        <h5>There was a time when my brother was working on an anime but never finished it. <br><br>
          The result of his 3 pages inspired me to try and finish it. Even though this attempt eventually failed, I admire this young person's efforts.</h5>
      </div>
      <div class="time-period">
        <h4>2011 - 2012</h4>
      </div>
    </div>
  </div> <!-- row -->
</div>


</body>
</html>
